html,
body {
  font-family: "Open Sans", sans-serif;
  color: rgb(235, 235, 235);
  background-color: rgb(20, 20, 20);
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.parallax .bg {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 5, 8, 0.4),
      rgba(4, 0, 9, 0.6)
    ),
    url(https://wallpaperaccess.com/full/2706443.jpg);

  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

article .container {
  width: 1000px;
  margin: 0 auto;
}

article .header {
  position: fixed;
  top: 0%;
  width: 100vw;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: rgba(6, 6, 6, 0.9);
  transition: 0.6s;
}

article h1,
article h2 {
  margin: 0 0 0.333em;
}
article section {
  padding: 3em;
}
article section.parallax {
  margin: 0;
  padding: 0;
}
